<div fxLayout="row" fxLayoutWrap="wrap" >
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button (click)="openDialog(addGroupModal, event.id)" color="primary"><mat-icon>group_add</mat-icon> Add Age Group </button>
                </div>
                <h1>asd</h1>
                <small>asd</small>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
