<div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button (click)="openDialog(addEventModal)" color="primary">+<mat-icon>event</mat-icon> Add Event </button>
</div><br>

<div fxLayout="row" fxLayoutWrap="wrap" *ngFor="let competition of competitions" >
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card [routerLink]="'/competitions/'+competition.id">
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button (click)="openDialog(addGroupModal, event.id)" color="primary"><mat-icon>group_add</mat-icon> Add Age Group </button>
                </div>                
                <!-- Row -->
                <div fxLayout="row" fxLayoutAlign="start wrap" calss="row-height">
                    <h1>{{competition.title}}</h1>
                </div>                
                <!-- Row -->
                <div fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <small>{{competition.place}}, {{competition.competitionsDate}}</small>
                </div>                
                <!-- Row -->
                <div *ngIf="registrationStatus(competition) == 'not_started'" fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <p style="color: blue">Registration starts: {{competition.registrationStart}}</p>
                </div> 
                <div *ngIf="registrationStatus(competition) == 'ended'" fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <p style="color: green">Registration ended!</p>
                </div> 
                <div  *ngIf="registrationStatus(competition) == 'in_progress'" fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <p style="color: red">Regstration ends: {{competition.registrationStart}}</p>
                </div>            
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #addGroupModal>
    <h1 mat-dialog-title>Add Age Group</h1>
    <div mat-dialog-content>
        <form [formGroup]="groupForm" novalidate (ngSubmit)="addGroup()" color="accent">
            <mat-form-field>
                <input autofocus type="text" matInput placeholder="Title" required formControlName="Title">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Select gender</mat-label>
                <mat-select formControlName="Gender" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                        {{gender.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input autofocus type="number" matInput placeholder="YearsFrom" required formControlName="YearsFrom">
            </mat-form-field>

            <mat-form-field>
                <input autofocus type="number" matInput placeholder="YearsTo" required formControlName="YearsTo">
            </mat-form-field>

            <mat-form-field class="demo-chip-list">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let category of categories" [selectable]="selectable" [removable]="removable" (removed)="remove(category)">
                        {{category.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New category..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
                </mat-chip-list>
            </mat-form-field>

            <div mat-dialog-actions>
                <button type="submit" mat-raised-button color="primary">Accept</button>
                <button mat-raised-button color="warn" (click)="onNoClick()">Close</button>
            </div>
        </form>
    </div>
</ng-template>