<div fxLayout="row" fxLayoutWrap="wrap" *ngFor="let competition of competitions">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card [routerLink]="'/competitions/'+competition.id">
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutAlign="start wrap" calss="row-height">
                    <h1>{{competition.title}}</h1>
                </div>
                <!-- Row -->
                <div fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <small>{{competition.place}}, {{competition.competitionsDate}}</small>
                </div>
                <!-- Row -->
                <div *ngIf="registrationStatus(competition) == 'not_started'" fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <p style="color: blue">Registration starts: {{competition.registrationStart}}</p>
                </div>
                <div *ngIf="registrationStatus(competition) == 'ended'" fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <p style="color: green">Registration ended!</p>
                </div>
                <div *ngIf="registrationStatus(competition) == 'in_progress'" fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <p style="color: red">Regstration ends: {{competition.registrationStart}}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>