<div fxLayout="row" fxLayoutWrap="wrap" *ngFor="let competition of competitions">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center" *ngIf="isAdmin">
                    <div>
                        <button mat-raised-button (click)="openDialog(deleteModal, competition.id)" color="accent"><mat-icon>edit</mat-icon> {{ 'Edit' | translate }} </button>
                    </div>
                    <div>
                        <button mat-raised-button (click)="openDialog(deleteModal, competition.id)" color="warn"><mat-icon>remove_circle_outline</mat-icon> {{ 'Delete' | translate }} </button>
                    </div>
                </div>
                <!-- Row -->
                <div fxLayout="row" fxLayoutAlign="start wrap" calss="row-height">
                    <a [routerLink]="'/competitions/'+competition.id">
                        <h1>{{competition.title}}</h1>
                    </a>
                </div>
                <!-- Row -->
                <div fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <small>{{competition.place}}, {{stringDate(competition.competitionsDate) | date:'yyyy/MM/dd h:mm'}}</small>
                </div>
                <!-- Row -->
                <div *ngIf="registrationStatus(competition) == 'not_started'" fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <p style="color: blue">{{ 'RegistrationStart' | translate }}: {{stringDate(competition.registrationStart) | date:'yyyy/MM/dd h:mm'}}</p>
                </div>
                <div *ngIf="registrationStatus(competition) == 'ended'" fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <p style="color: green">{{ 'RegistrationEnded' | translate }}!</p>
                </div>
                <div *ngIf="registrationStatus(competition) == 'in_progress'" fxLayout="row" fxLayoutAlign="start start" calss="row-height">
                    <p style="color: red">{{ 'RegistrationEnd' | translate }}: {{stringDate(competition.registrationStart) | date:'yyyy/MM/dd h:mm'}}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <ng-template #deleteModal>
        <h1 mat-dialog-title>{{ 'AreYouSureWantToDelete' | translate }}</h1>
        <br>
        <div mat-dialog-content class="center">
            <button type="submit" style="margin-right: 20px;" mat-raised-button color="primary" (click)="deletionConfirm()">{{ 'Accept' | translate }}</button>
            <button mat-raised-button style="padding-left: 22px; padding-right: 22px" color="warn" (click)="onNoClick()">{{ 'Close' | translate }}</button>
        </div>
    </ng-template>
</div>