<!--<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field> -->
<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element; let i = index">{{i+1}}
            <a fxFlexFill [routerLink]="'/coaches/'+element.id" class="mat-row-link"></a>
        </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
        <td mat-cell *matCellDef="let element"> <a fxFlexFill [routerLink]="'/coaches/'+element.id" class="mat-row-link">{{element.firstname}}</a> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
        <td mat-cell *matCellDef="let element"> <a fxFlexFill [routerLink]="'/coaches/'+element.id" class="mat-row-link">{{element.lastname}}</a> </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
        <td mat-cell *matCellDef="let element"> <a fxFlexFill [routerLink]="'/coaches/'+element.id" class="mat-row-link">{{element.gender.textEN}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status.statusNameEN}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef align="center"> Actions </th>
        <td mat-cell *matCellDef="let element">
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                <div fxFlex="100px" *ngIf="element.status.id == 1">
                    <button mat-raised-button (click)="openDialog(blockUserModal, element)" style="padding-left: 27px; padding-right: 27px" color="warn"><mat-icon>block</mat-icon> Block </button>
                </div>
                <div fxFlex="100px" *ngIf="element.status.id == 3">
                    <button mat-raised-button (click)="openDialog(unBlockUserModal, element)" color="accent"><mat-icon>check</mat-icon> Un Block </button>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<ng-template #addJudokaModal>
    <form [formGroup]="judokaForm" novalidate (ngSubmit)="addJudoka()" color="accent">
        <div mat-dialog-content>
            <h1 mat-dialog-title>Add judoka</h1>
            <mat-form-field>
                <input autofocus type="text" matInput placeholder="Firstname" required formControlName="firstname">
            </mat-form-field>

            <mat-form-field>
                <input autofocus type="text" matInput placeholder="Lastname" required formControlName="lastname">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Select gender</mat-label>
                <mat-select formControlName="genderId" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender.id">
                        {{gender.textEN}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Select DAN/KYU</mat-label>
                <mat-select formControlName="dankyuId" required>
                    <mat-option *ngFor="let danKyu of danKyus" [value]="danKyu.id">
                        {{danKyu.text}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input autofocus type="number" matInput placeholder="Birth Years" required formControlName="birthYears">
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button type="submit" mat-raised-button color="primary">Accept</button>
            <button mat-raised-button color="warn" (click)="onNoClick()">Close</button>
        </div>
    </form>
</ng-template>

<ng-template #blockUserModal>
    <h1 mat-dialog-title>Are you sure you want to block?</h1>
    <div mat-dialog-actions fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="primary" (click)="blockConfirm()">Accept</button>
        <button mat-raised-button color="warn" (click)="onNoClick()">Close</button>
    </div>
</ng-template>
<ng-template #unBlockUserModal>
    <h1 mat-dialog-title>Are you sure you want to un block?</h1>
    <div mat-dialog-actions fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="primary" (click)="unBlockConfirm()">Accept</button>
        <button mat-raised-button color="warn" (click)="onNoClick()">Close</button>
    </div>
</ng-template>