.main-card {
    max-width: 80%;
    margin: 0 auto;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a {
    color: inherit;
}