
    <mat-card class="main-card">
        <mat-card-content> 
            <mat-card-title>
                <h1 align="center">Welcome to the judo competitions organization system</h1>
                <p align="center">To fully use system you should sign in first.</p>
                <button align="center" type="submit" mat-raised-button color="primary">Accept</button>
                <button align="center" type="submit" mat-raised-button color="primary">Accept</button>
            </mat-card-title>
        </mat-card-content> 
    </mat-card>


