<mat-card class="main-card">
    <mat-card-content>
        <mat-card-title>
            <h1 align="center">{{ 'Welcome' | translate }}</h1>
            <p *ngIf="!isLoggedIn()" align="center">{{'HomeWelcomeMessage' | translate}}</p>
            <br>
            <div class="container">
                <div class="center" *ngIf="!isLoggedIn()">
                    <button style="margin-right:15px; padding-left: 22px; padding-right: 22px" routerLink="/login" mat-raised-button color="accent">{{ 'SignIn' | translate }}</button>
                    <button mat-raised-button color="primary" routerLink="/register">{{ 'Register2' | translate }}</button>
                </div>
            </div>
        </mat-card-title>
    </mat-card-content>
</mat-card>