<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Judoka Information</mat-card-title>
            </mat-card-content>
            <mat-tab-group>
                <mat-tab label="Profile">
                    <mat-grid-list cols="5" rowHeight="100px">
                        <mat-grid-tile [colspan]="1" [rowspan]="4">
                            <img src="../../../assets/images//judokas/judoka-icon.png" />
                        </mat-grid-tile>
                        <mat-grid-tile class="title" [colspan]="4" [rowspan]="1">
                            <h5><b>Firstname and lastname: </b>
                                <p>{{judoka.firstname}} {{judoka.lastname}}</p>
                            </h5>
                        </mat-grid-tile>
                        <mat-grid-tile class="title" [colspan]="4" [rowspan]="1">
                            <h5><b>Gender: </b>
                                <p>{{judoka.gender.textEN}}</p>
                            </h5>
                        </mat-grid-tile>
                        <mat-grid-tile class="title" [colspan]="4" [rowspan]="1">
                            <h5><b>Birth Years: </b>
                                <p>{{judoka.birthYears}}</p>
                            </h5>
                        </mat-grid-tile>
                        <mat-grid-tile class="title" [colspan]="4" [rowspan]="1">
                            <h5><b>Dan/Kyu: </b>
                                <p>{{judoka.danKyu.text}}</p>
                            </h5>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-tab>
                <mat-tab label="Organization">
                    <mat-card-content>
                        <mat-grid-list cols="5" rowHeight="100px">
                            <mat-grid-tile [colspan]="1" [rowspan]="4">
                                <img [src]="judoka.user.organization.image" />
                            </mat-grid-tile>
                            <mat-grid-tile class="title" [colspan]="4" [rowspan]="1">
                                <h5><b>Organization name: </b>
                                    <p>{{judoka.user.organization.exactName}}</p>
                                </h5>
                            </mat-grid-tile>
                            <mat-grid-tile class="title" [colspan]="4" [rowspan]="1">
                                <h5><b>Type: </b>
                                    <p>{{judoka.user.organization.organizationType.typeNameEN}}</p>
                                </h5>
                            </mat-grid-tile>
                            <mat-grid-tile class="title" [colspan]="4" [rowspan]="1">
                                <h5><b>Coach: </b>
                                    <p>{{judoka.user.firstname}} {{judoka.user.lastname}}</p>
                                </h5>
                            </mat-grid-tile>
                            <mat-grid-tile class="title" [colspan]="4" [rowspan]="1">
                                <h5><b>Address: </b>
                                    <p>{{judoka.user.organization.country}}, {{judoka.user.organization.city}}, {{judoka.user.organization.address}}</p>
                                </h5>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Achevements">
                    <mat-card-content>
                        <h5><b>Curent points: </b>{{judoka.points}}
                        </h5>
                        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
                            </ng-container>
                            <!-- Position Column -->
                            <ng-container matColumnDef="competitions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Competitions </th>
                                <td mat-cell *matCellDef="let element"> {{element.weightCategory.ageGroup.competitions.title}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="ageGroup">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Age Group </th>
                                <td mat-cell *matCellDef="let element"> {{element.weightCategory.ageGroup.title}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.weightCategory.ageGroup.competitions.competitionsDate}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="place">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Place </th>
                                <td mat-cell *matCellDef="let element"> {{element.place}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="points">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
                                <td mat-cell *matCellDef="let element"> {{element.points}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>