<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Judoka Information</mat-card-title>
            </mat-card-content>
            <mat-tab-group>
                <mat-tab label="Profile">
                    <mat-grid-list cols="12" rowHeight="75px">
                        <mat-grid-tile [colspan]="3" [rowspan]="4">
                            <div class="image-container" fxLayoutAlign="center">
                                <img class="image" src="../../../assets/images//judokas/judoka-icon.png" />
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="title" [colspan]="8" [rowspan]="1">
                            <h5><b>{{ 'FirstnameAndLastname' | translate }}: </b>
                                <p>{{judoka.firstname}} {{judoka.lastname}}</p>
                            </h5>
                        </mat-grid-tile>
                        <mat-grid-tile class="title" [colspan]="8" [rowspan]="1">
                            <h5><b>{{ 'Gender' | translate }}: </b>
                                <p>{{genders[judoka.gender]}}</p>
                            </h5>
                        </mat-grid-tile>
                        <mat-grid-tile class="title" [colspan]="8" [rowspan]="1">
                            <h5><b>{{ 'BirthYears' | translate }}: </b>
                                <p>{{judoka.birthYears}}</p>
                            </h5>
                        </mat-grid-tile>
                        <mat-grid-tile class="title" [colspan]="8" [rowspan]="1">
                            <h5><b>{{ 'DanKyu' | translate }}: </b>
                                <p>{{judoka.danKyu.text}}</p>
                            </h5>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-tab>
                <mat-tab label="{{ 'Organization' | translate }}">
                    <mat-card-content>
                        <mat-grid-list cols="12" rowHeight="75px">
                            <mat-grid-tile [colspan]="3" [rowspan]="4">
                                <div class="image-container" fxLayoutAlign="center">
                                    <img class="image" [src]="judoka.user.organization.image" />
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile class="title" [colspan]="8" [rowspan]="1">
                                <h5><b>{{ 'OrganizationName' | translate }}: </b>
                                    <p>{{judoka.user.organization.exactName}}</p>
                                </h5>
                            </mat-grid-tile>
                            <mat-grid-tile class="title" [colspan]="8" [rowspan]="1">
                                <h5><b>{{ 'Type' | translate }}: </b>
                                    <p>{{judoka.user.organization.organizationType.typeNameEN}}</p>
                                </h5>
                            </mat-grid-tile>
                            <mat-grid-tile class="title" [colspan]="8" [rowspan]="1">
                                <h5><b>{{ 'Coach' | translate }}: </b>
                                    <p>{{judoka.user.firstname}} {{judoka.user.lastname}}</p>
                                </h5>
                            </mat-grid-tile>
                            <mat-grid-tile class="title" [colspan]="8" [rowspan]="1">
                                <h5><b>{{ 'Address' | translate }}: </b>
                                    <p>{{judoka.user.organization.country}}, {{judoka.user.organization.city}}, {{judoka.user.organization.address}}</p>
                                </h5>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="{{ 'Achevements' | translate }}">
                    <mat-card-content>
                        <!-- <h5><b>{{ 'CurrentPoints' | translate }}: </b>{{judoka.points}}
                        </h5> -->
                        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
                            </ng-container>
                            <!-- Position Column -->
                            <ng-container matColumnDef="competitions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Competitions' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{element.weightCategory.ageGroup.competitions.title}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="ageGroup">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'AgeGroup' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{element.weightCategory.ageGroup.title}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Date' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{element.weightCategory.ageGroup.competitions.competitionsDate | date:'yyyy/MM/dd h:mm'}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="place">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Place' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{element.place}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <!-- <ng-container matColumnDef="points">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Points' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{element.points}} </td>
                            </ng-container> -->

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>