<script type="text/javascript" src="/static/inline.bundle.js"></script>
<div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button (click)="openDialog(addEventModal, $event)" color="primary">+<mat-icon>event</mat-icon> Add Event </button>
</div><br>

<div fxLayout="row" fxLayoutWrap="wrap" *ngFor="let event of eventsList">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button (click)="openDialog(addGroupModal, event.id)" color="primary"><mat-icon>group_add</mat-icon> Add Age Group </button>
                </div>
                <a attr.href="{{event.id}}-event-show"><h1>{{event.title}}</h1></a>
                <small>{{event.eventStartDate}}</small>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
<ng-template #addEventModal>
    <h1 mat-dialog-title>Add Event</h1>
    <div mat-dialog-content>
        <form [formGroup]="eventForm" novalidate (ngSubmit)="addEvent()" color="accent">
            <mat-form-field>
                <input autofocus type="text" matInput placeholder="Title" required formControlName="Title">
            </mat-form-field>

            <mat-form-field>
                <input autofocus type="text" matInput placeholder="Description" required formControlName="Description">
            </mat-form-field>

            <mat-form-field>
                <input autofocus type="date" matInput placeholder="RegistrationStartDate" required formControlName="RegistrationStartDate">
            </mat-form-field>

            <mat-form-field>
                <input autofocus type="date" matInput placeholder="RegistrationEndDate" required formControlName="RegistrationEndDate">
            </mat-form-field>

            <mat-form-field>
                <input autofocus type="date" matInput placeholder="EventStartDate" required formControlName="EventStartDate">
            </mat-form-field>

            <mat-form-field>
                <input autofocus type="number" matInput placeholder="EntryFee" required formControlName="EntryFee">
            </mat-form-field>

            <div mat-dialog-actions>
                <button type="submit" mat-raised-button color="primary">Accept</button>
                <button mat-raised-button color="warn" (click)="onNoClick()">Close</button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #addGroupModal>
    <h1 mat-dialog-title>Add Age Group</h1>
    <div mat-dialog-content>
        <form [formGroup]="groupForm" novalidate (ngSubmit)="addAgeGroup()" color="accent">
            <mat-form-field>
                <input autofocus type="text" matInput placeholder="Title" required formControlName="Title">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Select gender</mat-label>
                <mat-select formControlName="Gender" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                        {{gender.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input autofocus type="number" matInput placeholder="YearsFrom" required formControlName="YearsFrom">
            </mat-form-field>

            <mat-form-field>
                <input autofocus type="number" matInput placeholder="YearsTo" required formControlName="YearsTo">
            </mat-form-field>

            <mat-form-field class="demo-chip-list">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let category of categories" [selectable]="selectable" [removable]="removable" (removed)="remove(category)">
                        {{category.Title}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New category..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
                </mat-chip-list>
            </mat-form-field>

            <div mat-dialog-actions>
                <button type="submit" mat-raised-button color="primary">Accept</button>
                <button mat-raised-button color="warn" (click)="onNoClick()">Close</button>
            </div>
        </form>
    </div>
</ng-template>