.title> ::ng-deep figure {
    justify-content: flex-start !important;
}

table {
    width: 100%;
}

.mat-header-cell {
    text-align: center;
}

.edit-button {
    margin-right: 40px;
}

.image-container {
    width: 300px;
    height: auto;
    text-align: center;
    padding: 15px;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: inherit;
}

.main-container {
    padding: 0px 0px 25px 10px;
}

.text-container {
    padding: 15px 0px 0px 10px;
}

.button-container {
    padding: 5px 20px 0px 0px;
}

.my-drop-zone {
    border: dotted 2px #dadada;
    background-color: #fff !important;
    min-height: 80px;
    line-height: 80px;
}

.nv-file-over {
    border: dotted 2px red;
}


/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 2px green;
}