<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>{{ 'UserInformation' | translate }}</mat-card-title>
            </mat-card-content>
            <mat-tab-group>
                <mat-tab label="Profile">
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button mat-raised-button (click)="openDialog(editUserModal)" color="accent"><mat-icon>edit</mat-icon> {{ 'Edit' | translate }} </button>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <div class="item item-1 image-container">
                                <div class="container main-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                                    <div class="item item-1">
                                        <img class="image" src="{{user.image}}" />
                                    </div>
                                    <div class="container input-container">
                                        <input placeholder="file" type="file" (change)="imageChangeProfile($event)" accept="image/png, image/jpeg">
                                    </div>
                                    <div class="item item-3">
                                        <button mat-raised-button [disabled]="profileImage == null" (click)="uploadProfileImage()" color="accent"><mat-icon>upload</mat-icon> {{ 'UploadAvatar' | translate }} </button>
                                    </div>
                                </div>
                            </div>
                            <div class="item item-2">
                                <div class="container text-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                                    <div class="item item-1">
                                        <h5><b>{{ 'FirstnameAndLastname' | translate }}: </b>
                                            <p>{{user.firstname}} {{user.lastname}}</p>
                                        </h5>
                                    </div>
                                    <div class="item item-2">
                                        <h5><b>{{ 'Gender' | translate }}: </b>
                                            <p>{{ gender[user.gender] | translate }}</p>
                                        </h5>
                                    </div>
                                    <div class="item item-3">
                                        <h5><b>{{ 'BirthDate' | translate }}: </b>
                                            <p>{{user.birthDate}}</p>
                                        </h5>
                                    </div>
                                    <div class="item item-4">
                                        <h5><b>{{ 'DanKyu' | translate }}: </b>
                                            <p>{{user.danKyu?.text}}</p>
                                        </h5>
                                    </div>
                                    <div class="item item-5">
                                        <h5><b>{{ 'Email' | translate }}: </b>
                                            <p>{{user.email}}</p>
                                        </h5>
                                    </div>
                                    <div class="item item-6">
                                        <h5><b>{{ 'PhoneNumber' | translate }}: </b>
                                            <p>{{user.phoneNumber}}</p>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="{{ 'Organization' | translate }}">
                    <mat-card-content>
                        <div *ngIf="isAdmin" fxLayout="row" fxLayoutAlign="end center" class="">
                            <button mat-raised-button (click)="openDialog(editOrganizationModal)" color="accent"><mat-icon>edit</mat-icon> {{ 'Edit' | translate }} </button>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <div class="item item-1 image-container">
                                <div class="container main-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                                    <div class="item item-1">
                                        <img class="image" src="{{user.organization.image}}" />
                                    </div>
                                    <div class="container input-container">
                                        <input placeholder="file" type="file" (change)="imageChangeOrganization($event)" accept="image/png, image/jpeg">
                                    </div>
                                    <div class="item item-2">
                                        <button mat-raised-button [disabled]="organizationImage == null" (click)="uploadOrganizationImage()" color="accent"><mat-icon>upload</mat-icon> {{ 'UploadAvatar' | translate }} </button>
                                    </div>
                                </div>
                            </div>
                            <div class="item item-2">
                                <div class="container text-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                                    <div class="item item-1">
                                        <h5><b>{{ 'OrganizationName' | translate }}: </b>
                                            <p>{{user.organization.exactName}}</p>
                                        </h5>
                                    </div>
                                    <div class="item item-2">
                                        <h5><b>{{ 'Type' | translate }}: </b>
                                            <p>{{ organizationType[user.organization.type] | translate }}</p>
                                        </h5>
                                    </div>
                                    <div class="item item-3">
                                        <h5><b>{{ 'Administrator' | translate }}: </b>
                                            <p *ngIf="user?.parentUser">{{user.parentUser.firstname}} {{user.parentUser.lastname}}</p>
                                            <p *ngIf="!user?.parentUser">{{user?.firstname}} {{user?.lastname}}</p>
                                        </h5>
                                    </div>
                                    <div class="item item-4">
                                        <h5><b>{{ 'Address' | translate }}: </b>
                                            <p>{{user.organization.country}}, {{user.organization.city}}, {{user.organization.address}}</p>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>
<ng-template #editUserModal>
    <form [formGroup]="userEditForm" novalidate (ngSubmit)="editUser()" color="accent">
        <h1 mat-dialog-title>{{ 'EditProfile' | translate }}</h1>
        <div mat-dialog-content>
            <div fxLayout="row wrap">
                <mat-form-field>
                    <input autofocus type="text" matInput placeholder="{{ 'Firstname' | translate }}" required formControlName="firstname">
                </mat-form-field>

                <mat-form-field>
                    <input autofocus type="text" matInput placeholder="{{ 'Lastname' | translate }}" required formControlName="lastname">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ 'Gender' | translate }}</mat-label>
                    <mat-select [compareWith]="compareGenderFunction" formControlName="gender" required>
                        <mat-option *ngFor="let genderId of genders" [value]="genderId">
                            {{ gender[genderId] | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ 'DanKyu' | translate }}</mat-label>
                    <mat-select [compareWith]="compareDanKyuFunction" formControlName="dankyuId" required>
                        <mat-option *ngFor="let danKyu of danKyus" [value]="danKyu.id">
                            {{danKyu.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input autofocus type="date" value="{{ user.birthDate | date:'yyyy-MM-dd' }}" matInput placeholder="{{ 'BirthDate' | translate }}" required formControlName="birthDate">
                </mat-form-field>

                <mat-form-field>
                    <input autofocus type="text" matInput placeholder="{{ 'PhoneNumber' | translate }}" required formControlName="phoneNumber">
                </mat-form-field>

                <mat-form-field>
                    <input autofocus type="email" matInput placeholder="{{ 'Email' | translate }}" required formControlName="email">
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <input matInput type="password" placeholder="{{ 'Password' | translate }}" formControlName="password" class="form-control">
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="{{ 'ConfirmPassword' | translate }}" formControlName="confirmPassword" class="form-control" type="password">
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions>
            <button type="submit" mat-raised-button color="primary">{{ 'Accept' | translate }}</button>
            <button mat-raised-button color="warn" (click)="onNoClick()">{{ 'Close' | translate }}</button>
        </div>
    </form>
</ng-template>

<ng-template #editOrganizationModal>
    <form [formGroup]="organizationEditForm" novalidate (ngSubmit)="updateOrganization()" color="accent">
        <h1 mat-dialog-title>{{ 'EditProfile' | translate }}</h1>
        <div mat-dialog-content>
            <div fxLayout="row wrap">
                <mat-form-field>
                    <input autofocus type="text" matInput placeholder="{{ 'OrganizationExactName' | translate }}" required formControlName="exactName">
                </mat-form-field>

                <mat-form-field>
                    <input autofocus type="text" matInput placeholder="{{ 'Country' | translate }}" required formControlName="country">
                </mat-form-field>

                <mat-form-field>
                    <input autofocus type="text" matInput placeholder="{{ 'City' | translate }}" required formControlName="city">
                </mat-form-field>

                <mat-form-field>
                    <input autofocus type="text" matInput placeholder="{{ 'Address' | translate }}" required formControlName="address">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ 'OrganizationType' | translate }}</mat-label>
                    <mat-select [compareWith]="compareGenderFunction" formControlName="type" required>
                        <mat-option *ngFor="let organizationTypeId of organizationTypes" [value]="organizationTypeId">
                            {{ organizationType[organizationTypeId] | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
        <div mat-dialog-actions>
            <button type="submit" mat-raised-button color="primary">{{ 'Accept' | translate }}</button>
            <button mat-raised-button color="warn" (click)="onNoClick()">{{ 'Close' | translate }}</button>
        </div>
    </form>
</ng-template>