<!--<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field> -->
<div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button (click)="openDialog(addCoachModal, null)" color="primary"><mat-icon>person_add</mat-icon> {{ 'RegisterCoach' | translate }} </button>
</div><br>
<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Firstname' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Lastname' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'BirthDate' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate | date:'yyyy/MM/dd h:mm'}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Gender' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{ gender[element.gender] | translate }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="danKyu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'DanKyu' | translate }} </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.dankyu != null">
                {{element.danKyu.text}}
            </div>
        </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Email' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PhoneNumber' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Status' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.status.statusNameEN}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef align="center"> {{ 'Actions' | translate }} </th>
        <td mat-cell *matCellDef="let element">
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                <div fxFlex="100px">
                    <button mat-raised-button style="padding-left: 22px; padding-right: 22px" (click)="openDialog(blockCoachModal, element)" color="warn"><mat-icon>block</mat-icon> {{ 'Block' | translate }} </button>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<ng-template #addCoachModal>
    <form [formGroup]="userForm" novalidate (ngSubmit)="registerCoach()" color="accent">
        <div mat-dialog-content>
            <h1 mat-dialog-title>{{ 'RegisterCoach' | translate }}</h1>
            <div fxLayout="row wrap">

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                        <input autofocus type="email" matInput placeholder="{{ 'Email' | translate }}" required formControlName="email">
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                        <input autofocus type="text" matInput placeholder="{{ 'Firstname' | translate }}" required formControlName="firstname">
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                        <input autofocus type="text" matInput placeholder="{{ 'Lastname' | translate }}" required formControlName="lastname">
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                        <input autofocus type="text" matInput placeholder="{{ 'PhoneNumber' | translate }}" required formControlName="phoneNumber">
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                        <input autofocus type="date" matInput placeholder="{{ 'BirthDate' | translate }}" required formControlName="birthDate">
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                        <mat-label>{{ 'Gender' | translate }}</mat-label>
                        <mat-select formControlName="gender" required>
                            <mat-option *ngFor="let genderId of genders" [value]="genderId">
                                {{ gender[genderId] | translate }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                        <mat-label>{{ 'DanKyu' | translate }}</mat-label>
                        <mat-select formControlName="danKyuId" required>
                            <mat-option *ngFor="let danKyu of danKyus" [value]="danKyu.id">
                                {{danKyu.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field style="width: 100%">
                        <input matInput type="password" placeholder="{{ 'Password' | translate }}" formControlName="password" class="form-control">
                    </mat-form-field>
                    <small *ngIf="clicked && userForm.controls['password'].hasError('required')" class="text-danger support-text">You must include password.</small>
                </div>
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="{{ 'ConfirmPassword' | translate }}" formControlName="confirmPassword" class="form-control" type="password">
                    </mat-form-field>
                    <small *ngIf="clicked && userForm.controls['confirmPassword'].hasError('required')" class="text-danger support-text">You must include confirm password.</small>
                    <small *ngIf="clicked && userForm.controls['confirmPassword'].errors?.equalTo" class="text-danger support-text">Passwords do not match.</small>
                </div>
            </div>
        </div>
        <div mat-dialog-actions>
            <button type="submit" mat-raised-button color="primary">{{ 'Accept' | translate }}</button>
            <button mat-raised-button color="warn" (click)="onNoClick()">{{ 'Close' | translate }}</button>
        </div>
    </form>
</ng-template>

<ng-template #blockCoachModal>
    <h1 mat-dialog-title>{{ 'AreYouSureYouWantToBlock' | translate }}</h1>
    <div mat-dialog-actions fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="primary" (click)="blockConfirm()">{{ 'Accept' | translate }}</button>
        <button mat-raised-button color="warn" (click)="onNoClick()">{{ 'Close' | translate }}</button>
    </div>
</ng-template>