<div class="login-register" style="background-image:url(assets/images/background/judo_dojo.jpg);">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <img alt="homepage" src="assets/images/logo-icon.png">
                        <h4 class="m-t-0">{{ 'ResetPassword' | translate }}</h4>
                    </div>
                    <p class="text-center font-14"></p>
                    <div fxLayout="column" fxLayoutAlign="space-around">
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field style="width: 100%">
                                <input matInput type="password" placeholder="{{ 'Password' | translate }}" formControlName="password" class="form-control">
                            </mat-form-field>
                            <small *ngIf="clicked && form.controls['password'].hasError('required')" class="text-danger support-text">You must include password.</small>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="{{ 'ConfirmPassword' | translate }}" formControlName="confirmPassword" class="form-control" type="password">
                            </mat-form-field>
                            <small *ngIf="clicked && form.controls['confirmPassword'].hasError('required')" class="text-danger support-text">You must include confirm password.</small>
                            <small *ngIf="clicked && form.controls['confirmPassword'].errors?.equalTo" class="text-danger support-text">Passwords do not match.</small>
                        </div>
                        <button mat-raised-button color="primary" type="submit" class="btn-block btn-lg m-t-20" [disabled]="!form.valid">{{ 'Submit' | translate }}</button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>