<div class="login-register" style="background-repeat: no-repeat; background-size: cover; background-image:url(assets/images/background/judo_dojo.jpg);">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <mat-card-title>
                    <div class="text-center">
                        <h4 class="m-t-0">{{ 'Registration' | translate }}</h4>
                    </div>
                </mat-card-title>
                <mat-horizontal-stepper [linear]="false">
                    <mat-step [stepControl]="userForm">
                        <form [formGroup]="userForm">
                            <ng-template matStepLabel> {{ 'UserInformation' | translate }}</ng-template>
                            <div fxLayout="row wrap">
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="{{ 'Firstname' | translate }}" type="text" formControlName="firstname" class="form-control">
                                    </mat-form-field>
                                    <small *ngIf="clicked && userForm.controls['firstname'].hasError('required')" class="text-danger support-text">You must include a firstname.</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="{{ 'Lastname' | translate }}" type="text" formControlName="lastname" class="form-control" required>
                                    </mat-form-field>
                                    <small *ngIf="clicked && userForm.controls['lastname'].hasError('required')" class="text-danger support-text">You must include a lastname.</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="{{ 'BirthDate' | translate }}" type="date" formControlName="birthDate" class="form-control" required>
                                    </mat-form-field>
                                    <small *ngIf="clicked && userForm.controls['birthDate'].hasError('required')" class="text-danger support-text">You must include a birth date.</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="{{ 'PhoneNumber' | translate }}" type="text" formControlName="phoneNumber" class="form-control" required>
                                    </mat-form-field>
                                    <small *ngIf="clicked && userForm.controls['phoneNumber'].hasError('required')" class="text-danger support-text">You must include a phone number.</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field>
                                        <mat-label>{{ 'Gender' | translate }}</mat-label>
                                        <mat-select formControlName="gender">
                                            <mat-option *ngFor="let genderId of genders" [value]="genderId">{{ gender[genderId] | translate }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <small *ngIf="clicked && userForm.controls['gender'].hasError('required')" class="text-danger support-text">You must select gender.</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field>
                                        <mat-label>{{ 'DanKyu' | translate }}</mat-label>
                                        <mat-select formControlName="danKyuId">
                                            <mat-option *ngFor="let danKyu of danKyus" [value]="danKyu.id">{{danKyu.text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <small *ngIf="clicked && userForm.controls['danKyuId'].hasError('required')" class="text-danger support-text">You must select Dan/Kyu.</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="{{ 'Email' | translate }}" type="Email" formControlName="email" class="form-control">
                                    </mat-form-field>
                                    <small *ngIf="clicked && userForm.controls['email'].hasError('required')" class="text-danger support-text">You must include an email address.</small>
                                    <small *ngIf="clicked && userForm.controls['email'].errors?.email" class="text-danger support-text">You must include a valid email address.</small>
                                    <small *ngIf="clicked && errorMessage != null" class="text-danger support-text">{{errorMessage}}</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field style="width: 100%">
                                        <input matInput type="password" placeholder="{{ 'Password' | translate }}" formControlName="password" class="form-control">
                                    </mat-form-field>
                                    <small *ngIf="clicked && userForm.controls['password'].hasError('required')" class="text-danger support-text">You must include password.</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="{{ 'ConfirmPassword' | translate }}" formControlName="confirmPassword" class="form-control" type="password">
                                    </mat-form-field>
                                    <small *ngIf="clicked && userForm.controls['confirmPassword'].hasError('required')" class="text-danger support-text">You must include confirm password.</small>
                                    <small *ngIf="clicked && userForm.controls['confirmPassword'].errors?.equalTo" class="text-danger support-text">Passwords do not match.</small>
                                </div>
                                <!-- col full-->
                                <div class="text-center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <span>{{ 'AlreadyHaveAnAccount' | translate }}
                    <a [routerLink]="['/login']" class="link text-info"> {{ 'Login' | translate }} </a>
                  </span>
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button (click)="onUserFormSubmit()" type="button" color="warn" matStepperNext>{{ 'Next' | translate }}</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="organizationForm">
                        <form [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
                            <ng-template matStepLabel>
                                <p (click)="onUserFormSubmit()">{{ 'OrganizationInformation' | translate }}</p>
                            </ng-template>
                            <div fxLayout="row wrap">
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field>
                                        <mat-label>{{ 'OrganizationType' | translate }}</mat-label>
                                        <mat-select formControlName="type">
                                            <mat-option *ngFor="let organizationTypeId of organizationTypes" [value]="organizationTypeId">{{ organizationType[organizationTypeId] | translate }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <small *ngIf="submitted && organizationForm.controls['type'].hasError('required')" class="text-danger support-text">You must select an organization type.</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="{{ 'OrganizationName' | translate }}" type="text" formControlName="exactName" class="form-control">
                                    </mat-form-field>
                                    <small *ngIf="submitted && organizationForm.controls['exactName'].hasError('required')" class="text-danger support-text">You must include an organization name.</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="{{ 'Country' | translate }}" type="text" formControlName="country" class="form-control">
                                    </mat-form-field>
                                    <small *ngIf="submitted && organizationForm.controls['country'].hasError('required')" class="text-danger support-text">You must include a country.</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="{{ 'City' | translate }}" type="text" formControlName="city" class="form-control">
                                    </mat-form-field>
                                    <small *ngIf="submitted && organizationForm.controls['city'].hasError('required')" class="text-danger support-text">You must include a city.</small>
                                </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="{{ 'Address' | translate }}" type="text" formControlName="address" class="form-control">
                                    </mat-form-field>
                                    <small *ngIf="submitted && organizationForm.controls['address'].hasError('required')" class="text-danger support-text">You must include an address.</small>
                                </div>
                                <!-- <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-checkbox class="font-14">I agree to the all
                                        <a href="javascript:void(0)" class="link text-info">terms</a>.</mat-checkbox>
                                </div> -->
                                <div>
                                    <button mat-raised-button color="accent" matStepperPrevious>{{ 'Back' | translate }}</button>
                                </div>
                                <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit">{{ 'CreateAccount' | translate }}</button>
                            </div>
                        </form>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>